/* ~~~~~RESET~~~~~ */
html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ~~~~~GENERAL~~~~~~ */

body {
  color: #fbfbfb;
  font-family: "Inter tight", sans-serif;
  font-size: 14px;
  line-height: 1.28;
  font-weight: 500;
}

h2 {
  color: #fbfbfb;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.04;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

h2 span {
  color: rgba(251, 251, 251, 0.3);
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 64px;
    line-height: 1;
  }

  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 100px;
  }
}

/* ~~~~~HEADER~~~~~ */

header {
  position: absolute;
  width: 100%;
  background: transparent;
  padding-top: 32px;
  box-sizing: border-box;
  z-index: 1000;
}

/* ===header-container=== */

.header-container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

@media screen and (min-width: 375px) {
  .header-container {
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .header-container {
    max-width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

/* ===header-logo=== */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 4px;
  fill: #fbfbfb;
  height: 16px;
  width: 168px;
  transition: transform 0.3s ease;
}

.header-logo:hover,
.header-logo:focus {
  transform: scale(1.2);
}

.desktop-menu {
  display: none;
}

.open-menu-btn {
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  fill: #fbfbfb;
}

.mob-btn {
  fill: #fbfbfb;
  background-color: transparent;
}

/* ===Mobile Menu=== */

.mob-menu {
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #7a3145;
  padding: 20px 20px 40px 20px;
}

.mob-menu.is-open {
  display: flex;
}

.mob-menu.is-hidden {
  display: none;
}

.close-btn-box {
  display: flex;
  justify-content: flex-end;
}

.close-menu-btn {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

.menu-cross {
  fill: #fbfbfb;
}

.mob-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.mob-link {
  display: block;
  color: #fbfbfb;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  background-color: transparent;
  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 12px;
  padding: 12px;
  width: 115px;
  height: 42px;
}
.current {
  color: #7a3145;
  background-color: #fbfbfb;
}

.mob-link:hover,
.mob-link:focus {
  color: rgba(122, 49, 69, 0.7);
  background-color: #fbfbfb;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.shop-btn-box {
  margin: 0 auto;
}

.shop-now-btn {
  border-radius: 30px;
  padding: 16px 40px;
  width: 155px;
  height: 50px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #7a3145;
  border: none;
  background-color: #fbfbfb;
}

.shop-now-btn:hover,
.shop-now-btn:focus {
  color: #fbfbfb;
  background-color: #7a3145;
  border: 1px solid rgba(251, 251, 251, 0.2);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 375px) {
  .mob-menu {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .header-logo {
    height: 18px;
    width: 194px;
  }

  .open-menu-btn {
    width: 40px;
    height: 40px;
  }

  .mob-menu {
    width: 351px;
    height: 100vh;
  }

  .close-menu-btn {
    width: 40px;
    height: 40px;
  }

  .mob-link {
    width: 123px;
    height: 44px;
  }

  .shop-now-btn {
    padding: 16px 32px;
    width: 157px;
    height: 52px;
  }
}

/* ===Desktop Menu=== */

@media screen and (min-width: 1280px) {
  .open-menu-btn {
    display: none;
  }

  .desktop-menu {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .desktop-navigation {
    display: flex;
    gap: 8px;
  }

  .desktop-link {
    background-color: transparent;
    color: #fbfbfb;
    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 12px;
    padding: 12px;
    width: 114px;
    height: 44px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    text-align: center;
  }

  .desktop-link:hover,
  .desktop-link:focus {
    color: #622133;
    background-color: #fbfbfb;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .desktop-shop-now-btn {
    color: #fbfbfb;
    border: none;
    background-color: #7a3145;
    border-radius: 30px;
    padding: 16px;
    width: 157px;
    height: 52px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.01em;
    text-transform: uppercase;
  }

  .desktop-shop-now-btn:hover,
  .desktop-shop-now-btn:focus {
    background-color: #622133;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* BACKDROP */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* MODAL WINDOW - SHOP NOW */

/* ~~~~~HERO~~~~~ */

.hero {
  background-color: #576f35;
}

.hero-container {
  background-color: #576f35;
  height: 812px;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      rgba(20, 20, 20, 0.2),
      rgba(20, 20, 20, 0.2)
    ),
    url(./img/basket-mob-1x.jpg);
  background-size: auto 370px;
  background-position: bottom;
}

.hero-text {
  color: #fbfbfb;
  padding-top: 100px;
  margin-bottom: 40px;
}

.hero-title {
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: -0.01em;
  margin-bottom: 20px;
  max-width: 335px;
}

.hero-description {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  max-width: 335px;
}

@media screen and (min-width: 375px) {
  .hero-container {
    height: 812px;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(./img/basket-mob-1x.jpg);
    background-size: 375px 370px;
    background-position: bottom;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-img-bgr {
      background-image: linear-gradient(
          rgba(20, 20, 20, 0.2),
          rgba(20, 20, 20, 0.2)
        ),
        url(./img/basket-mob-2x.jpg);
    }
  }
}

@media screen and (min-width: 768px) {
  .hero-container {
    padding-left: 32px;
    padding-right: 32px;
    height: 1024px;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(./img/basket-tab-1x.jpg);
    background-size: 768px 539px;
    background-position: bottom;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-container {
      background-image: linear-gradient(
          rgba(20, 20, 20, 0.2),
          rgba(20, 20, 20, 0.2)
        ),
        url(./img/basket-tab-2x.jpg);
    }
  }

  .hero-text {
    padding-top: 122px;
    margin-bottom: 50px;
  }

  .hero-title {
    font-size: 76px;
    margin-bottom: 25px;
    max-width: 704px;
  }

  .hero-description {
    font-size: 16px;
    line-height: 1.25;
    max-width: 603px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    padding-left: 100px;
    padding-right: 100px;
    max-height: 800px;
    display: flex;
    gap: 28px;
    align-items: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(./img/basket-desk-1x.jpg);
    background-size: 650px 800px;
    background-position: right;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-container {
      background-image: linear-gradient(
          rgba(20, 20, 20, 0.2),
          rgba(20, 20, 20, 0.2)
        ),
        url(./img/basket-desk-2x.jpg);
    }
  }

  .hero-text {
    padding: 238px 0px 50px 0px;
    margin-bottom: 0;
  }

  .hero-title {
    margin-bottom: 128px;
    max-width: 504px;
  }

  .hero-description {
    max-width: 472px;
  }
}

/* ~~~~~HOW IT WORKS~~~~~ */

.how-it-works {
  background-color: #576f35;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.left-section {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  background-color: #7a3145;
}

.image-container {
  position: relative;
}

.image-container img {
  display: block;
  object-fit: cover;
  overflow: hidden;
  height: 450px;
  width: 100%;
  border-radius: 30px;
}

.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 30px;
  background: linear-gradient(rgba(20, 20, 20, 0.3), rgba(20, 20, 20, 0.3));
}

.right-section {
  display: flex;
  justify-content: center;
  padding: 80px 20px;
  background-color: #576f35;
  color: #fbfbfb;
}

.hiw-text-area {
  max-width: 335px;
}

.hiw-subtitle {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.hiw-subtitle span {
  color: rgba(251, 251, 251, 0.3);
}

.hiw-description {
  font-size: 14px;
  line-height: 1.28;
  margin-bottom: 40px;
}

.hiw-item-list {
  counter-reset: number 0;
}

.hiw-item-list li:nth-child(2) {
  padding: 12px 59px 12px 24px;
}

.hiw-item {
  background-color: #fbfbfb;
  border-radius: 15px;
  padding: 12px 25px 12px 24px;
  height: 76px;
  margin-bottom: 20px;
}

.hiw-item-text {
  counter-increment: number;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.6);
}

.hiw-item-text span {
  color: #141414;
  font-weight: bold;
}

.hiw-item-text::before {
  color: #fbfbfb;
  content: counter(number);
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 5px solid #d5bfc5;
  background-color: #7a3145;
  font-size: 20px;
  font-weight: 600;
  transition: transform 0.3s ease;
}

.hiw-item-text:hover::before {
  transform: scale(1.2);
}

.hiw-item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 375px) {
  .image-container img {
    object-fit: cover;
    object-position: top;
    height: 450px;
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .left-section {
    padding: 100px 64px;
  }

  .image-container img {
    height: 640px;
    width: 640px;
    object-position: top right;
  }

  .right-section {
    padding: 100px 159px;
  }

  .hiw-text-area {
    max-width: 450px;
  }

  .hiw-subtitle {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  .hiw-description {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 50px;
  }

  .hiw-item-list li:first-child {
    padding: 12px 25px 12px 24px;
  }

  .hiw-item-list li:nth-child(2) {
    padding: 12px 27px 12px 24px;
  }

  .hiw-item {
    padding: 12px 27px 12px 24px;
  }

  .hiw-item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
  }
}

@media screen and (min-width: 1280px) {
  .hiw-container {
    display: flex;
    justify-content: center;
  }

  .left-section {
    padding: 100px;
  }

  .image-container img {
    height: 559px;
    width: 430px;
    object-position: top;
  }

  .right-section {
    max-width: 650px;
    padding: 100px 100px 160px 100px;
    background-color: #576f35;
  }
}

/* ===DISCOUNT=== */

.discount {
  background-color: #fbfbfb;
}

/* ===ORGANIC VEGETABLES=== */

.organic-vegetables {
  background-color: #7a3145;
}

.ov-title {
}

.ov-list {
}

.ov-card {
  display: flex;
  flex-direction: column;
  background-color: #fbfbfb;
  border-radius: 40px;
  padding: 32px 26px;
}

.ov-card:not(:last-child) {
  margin-bottom: 20px;
}

.ov-item-title {
  color: #7a3145;
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
}

.item-price {
  color: #141414;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

.item-img {
  transition: transform 0.3s ease;
}

.item-img:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .ov-description {
    font-size: 16px;
    line-height: 1.25;
  }

  .ov-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 28px;
  }

  .ov-card {
    width: calc((100% - 40px) / 2);
  }

  .ov-card:not(:last-child) {
    margin-bottom: 0;
  }

  .ov-item-title {
    font-size: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .ov-list {
    column-gap: 21px;
  }

  .ov-card {
    width: calc((100% - 42px) / 3);
  }
}
/* ===REVIEWS=== */

.reviews {
  background-color: #fbfbfb;
}

.reviews-title {
  color: #141414;
}

.reviews-title span {
  color: #576f35;
}

/* ===YOUR ORDER=== */

.your-order {
  background-color: #7a3145;
}

/* ===FOOTER=== */

.footer {
  background-color: #7a3145;
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
}
